<!Doctype HTML>

<html>
    <head>

        <link rel = "stylesheet" href = "\static\css\allcss.css"/>

        <style>

        </style>

    </head>

    <body>

        <div class = "h1">

            <div class = "h2">

            </div>

            <div class = "h3">

                <ul>
                    <li><a href = "/Home" >HOME </a></li>
                    <li><a href = "#">VISITING PLACE</a></li>
                    <li><a href = "#" >UPCOMMING TRIP</a></li>
                    <li><a href = "#" >CONTACT</a></li>
                </ul>
                
            </div>

            <div class = "h4">

                <button onclick = "submit" class = "btn" ><a href = "/Login" target = " ">Sign In</a></button>
                
                
            </div>

        </div>


    </body>

</html>